<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.song.selog.post.mapper.PostAttachMapper">

	<insert id="insert">
		INSERT INTO post_attach(uuid, uploadPath, fileName, fileType, p_id)
		VALUES(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{p_id})
	</insert>
	
	<delete id="delete">
		DELETE FROM post_attach
		WHERE uuid = #{uuid}
	</delete>
	
	<select id="findByP_Id" resultType="io.song.selog.post.domain.PostAttachDTO">
		SELECT *
		FROM post_attach
		WHERE p_id = #{p_id}
	</select>
	
	<delete id="deleteAll">
		DELETE FROM post_attach
		WHERE p_id = #{p_id}
	</delete>
	
	<select id="getOldFiles" resultType="io.song.selog.post.domain.PostAttachDTO">
		SELECT *
		FROM post_attach
		WHERE uploadPath = TO_CHAR(SYSDATE -1, 'yyyy\mm\dd')
	</select>

</mapper>